<form action="/alumnos/actualizar1" method="post">
    Enter the id :
    <input type="text" name="id" placeholder="..." />
     <br>
    Enter the rev :
    <input type="text" name="rev" placeholder="..." />
     <br>
    Enter your new name:
    <input type="text" name="userName" placeholder="..." />
     <br>
    Enter your new last name:
    <input type="text" name="apellido" placeholder="..." />
     <br>
    Enter your new age:
    <input type="text" name="edad" placeholder="..." />
     <br>
    <button type="submit">Submit</button>
</form>