<form action="/alumnos/crear" method="post">
    Enter your name:
    <input type="text" name="userName" placeholder="..." />
     <br>
    Enter your last name:
    <input type="text" name="apellido" placeholder="..." />
     <br>
    Enter your age:
    <input type="text" name="edad" placeholder="..." />
     <br>
    <button type="submit">Submit</button>
</form>