 <!DOCTYPE html>
<html>
<head>

    <title>Example of passport</title>
</head>

<body>
    <% if (!isAuthenticated) { %>
        <a href="/login">Log in here</a>
    <% } else { %>
        Hello, <%= user.name %>!
        <a href="/menu">Menu</a>
    <% } %>
</body>

</html> 