 <!DOCTYPE html>
<html>
<head>

    <title>Menu</title>
</head>

<body>
        <a href="/alumnos/crear">crear</a>
        <br>
        <a href="/alumnos/ver">Ver</a>
        <br>
        <a href="/alumnos/actualizar">Actualizar</a>
        <br>
        <a href="/alumnos/borrar">Borrar</a>
</body>

</html> 